body {
  background-image: url(https://github.com/fcktardcto/meme/blob/master/images/logo_small.png?raw=true);
              background-color: #f0f0f0;

}

a {
  background-color: #000;
  color: #FFF;
  padding:5px 10px; 
  border-radius:4px;  
    
  font-weight: bold;
}

h1 a {
  color: #FFF;
  font-size: 1.5em;
}

img {
  transition-duration: 0.3s;
}

img:hover {
  -ms-transform: scale(1.04); /* IE 9 */
  -webkit-transform: scale(1.04); /* Safari 3-8 */
  transform: scale(1.04);
}

footer {
  padding: 8px;
  background-color: #fff;
  color: #000;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  line-break: anywhere;
}

.date {
  display: none;
}

nav.breadcrumbs {
  margin-bottom: 0em;
  border: 0px;
}

#albums {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

#albums a {
  margin: unset;
  border-radius: 0;
}

#albums .info {
  top: 20px;
  bottom: unset;
  width: auto;
  padding: 0.5em;
  background: #fff;
  color: #000;
}

#media img {
  border-radius: 0px;
}
