body {
  background-image:url(https://github.com/fcktardcto/meme/blob/master/images/logo_small.png?raw=true);
}

#album a { width: 30%; height: 30%;}
.date {display:none;}
h1 a {font-size: 1.5em;color:#000}
nav.breadcrumbs {border:0px;margin-bottom:0em;}
a {color:#000;    font-weight: bold;     background-color: #FFF;}

footer {
    color: #000;
    font-size: 3em;
    font-style: italic;
    width: 50%;
    font-weight: bold;
  margin-top:1em;
  background-color:#FFF;
}

#albums .info {
    position: absolute;
    padding: 0.5em;
    background: #FFF;
    width: 40%;
    top: 20px;
    height: 17%;
    color: #000;
    font-size: 0.9em;
    line-height: 1.2em;
    /* margin-top: 30px; */
    font-weight: bold;
    /* bottom: 0; */
}

#albums a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 0em;
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 300px;
    background-size: cover;
    border-radius: 0px;
/*     border: 5px solid #000;
    /* border-color: #000; */ */
}

#media img {    border-radius: 0px;}
img:hover{
-ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.5);
}
