body {
  background-image: url(https://github.com/fcktardcto/meme/blob/master/images/logo_small.png?raw=true);
}

a {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

h1 a {
  color: #000;
  font-size: 1.5em;
}

img {
  transition-duration: 0.3s;
}

img:hover {
  -ms-transform: scale(1.04); /* IE 9 */
  -webkit-transform: scale(1.04); /* Safari 3-8 */
  transform: scale(1.04);
}

footer {
  padding: 8px;
  background-color: #fff;
  color: #000;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  line-break: anywhere;
}

.date {
  display: none;
}

nav.breadcrumbs {
  margin-bottom: 0em;
  border: 0px;
}

#album {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

#album a {
  display: inline-block;
  position: relative;
  width: 30%;
  height: 300px;
  border-radius: 0px;
  overflow: hidden;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#albums .info {
  position: absolute;
  top: 20px;
  width: 40%;
  height: 17%;
  padding: 0.5em;
  background: #fff;
  color: #000;
  line-height: 1.2em;
  font-size: 0.9em;
  font-weight: bold;
}

#media img {
  border-radius: 0px;
}
